/*@font-face{
	font-family: "leagueSpartan";
	scr: url(../fonts/LeagueSpartan-Bold.otf);
}*/  
/*for using font family you download*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Harmattan', sans-serif;*/
	font-family: 'Exo', sans-serif;
}
html{
	scroll-behavior: smooth;
}
/*start landing page*/
	/*navbar*/
				.bg-nav-color{
					background-color: #ffffff;
					box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
				}

				#navbar-menu a{
					font-size: 25px;
					color: #191919;


				}
				#navbar-menu a:hover{
				    font-weight: bold;
				    border-bottom: 5px solid  #F15F23;
				}
				#navbar-menu .active{
				    font-weight: bold;
				    border-bottom: 5px solid #F15F23;
				}

				#logo{
					height: 40px;
				}
	/*End navbar*/

	/*jumbotron landing page*/
				.jumbotron hr{
					background-color: #f2f2f2;
				}

				#jumbo-land{
					height: 100vh;
				    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%),url(./../images/shoyo.png);
					background-attachment: fixed;
					background-size: cover;
					background-position: center;
					border-radius: 0;
					padding-top: 10%; 
				}

				.jumbotron p{
					font-weight: 400;
   					 font-size: 22px;
   					 color: #f15f23;
   					 text-shadow: 0px 2px 3px #000;
				}

				.jumbotron h1{
					color: #f2f2f2;
					text-align: center;
					font-family: 'Ravi Prakash', cursive;
					font-size: 5em;
					letter-spacing: 2px;
					line-height: 1.6;
					text-shadow: 0 4px 6px #000;
				}

				#land-con{
					margin-top: 5%;

				}
				#land-con h1{
					text-align: left;
					font-family: 'Ravi Prakash', cursive;
					font-size: 10em;
					letter-spacing: 2px;
					line-height: 0.6;
					text-shadow: 0 4px 6px #000;
				}

				.color-h1{
					font-family: 'Ravi Prakash', cursive;
					color: #F15F23;

				}

				.btn a{
					text-decoration: none;
					color: #F15F23;
					font-weight: 300;


				}

				.btn-bg-color{
					border: 2px solid #F15F23;
					color: #F15F23;
					box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
				/*	background: linear-gradient(13deg, rgba(254,164,124,1) 37%, rgba(246,0,0,1) 100%)!important;*/
					border-radius: 5px;

				}

				.btn-bg-color:hover{
					border: none;
					color: #191919;
					/*box-shadow: 2px 2px 10px 4px  rgba(0, 0, 0, 0.7);*/
					background-color: #F15F23;
				}
	/*end jumbotron landing page*/

	/*home-page-about section*/
				#about-con{
					height: 70vh;
					background-color:  #f1f1f1;
					background-size: cover;
					background-attachment: fixed;
					background-position: center;
					border-radius: 0;
					padding-top: 5%; 
					color: #333;


				}
				#about-con h2{
					font-weight: 700;
					text-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

				}

				#about-con hr{
					background-color: #f2f2f2;
				}

				#about-con p{
					letter-spacing: 2px;
					font-size: 18px;
					font-weight: 400;
					padding-right: 10px;
					padding-left: 10px;
				}
				#img-about{
					max-width: 500px;
					box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    				border-radius: 2px;
				}
	/* end of home-page-about section*/

/*home-page-gallery section*/
				#gallery-con{
					height: 80%;
					background-image:url(./../images/gallery/g-bg.png);
					background-size: cover;
					background-attachment: fixed;
					background-position: center;
					border-radius: 0;
					padding-top: 5%; 

				}

				#gallery-con .flex-column { 
				       max-width : 500px;
				   }

				#gallery-con h2{
						color: #191919;
						font-weight: 700;
					}
				#gallery-con hr{
					background-color: #ffffff;
				}

				 #gallery-con img {
				 				box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
				               margin: 10px 1px; 
				    }
				#gallery-con img:hover{
				    	filter: none;
				      border: 3px solid #dc9b48;
				    }     
			/*end of gallery*/


			/*footer*/
				#footer-section{
					height: 25vh;
					background-color: #191919;
					background-size: cover;
					background-position: center;
					border-radius: 0;
					padding-top: 2%; 
					color: #f2f2f2;
				}

				#footer-logo {
				    max-height: 100px!important;
				}

				#footer-section img{
					max-height: 40px;
					margin: 2px 5px; 
				}
				/*end of footer*/

/*end of landing page*/



/*start of about page*/
	#jumbo-about{
		height: 60vh;
		background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%), url(./../images/wallhaven-lq88vr.jpg);
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		border-radius: 0;
		padding-top: 10%; 
	}

	.about-wrap{
		height: 70vh;
		/*background-color: #333;*/
		background-image: radial-gradient(circle, rgba(2,0,36,0.3) 0%, rgba(0,0,0,0) 100%),url(./../images/bg.png);
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		border-radius: 0;
		padding-top: 5%; 
	}
	.about-wrap h1{
		  text-shadow: 0 4px 6px #000;
	}
	.about-wrap p{
		color: #f2f2f2;
		line-height: 1.6;
		letter-spacing: 2px;
		font-weight: 400px;
	}
	.about-wrap h5{
		color: #f2f2f2;
		letter-spacing: 2px;
		font-weight: 700;

	}

	.about-wrap hr{
		background-color: #f2f2f2;
	}

	#about-container{
			background-color: #19191978;
		    padding: 25px;
		    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
			border-radius: 5px;
	}
/*end of about page*/

/*start of contact page*/
		#jumbo-contact{
			height: 50vh;
			background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%), url(./../images/gallery/g2.png);
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			border-radius: 0;
			padding-top: 10%; 
		}

		.contact-wrap{
			height: 60vh;
			/*background-color: #333;*/
			background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0,0,0,0) 100%),url(./../images/bg.png);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			border-radius: 0;
			padding-top: 2%; 
		}
		.contact-wrap p{
			color: #f2f2f2;
			line-height: 1.6;
			letter-spacing: 2px;
			font-weight: 400;
		}
		.contact-wrap h5{
			color: #f2f2f2;
			letter-spacing: 2px;
			font-weight: 700;
		}

		.contact-wrap hr{
			background-color: #f2f2f2;
		}
		.form-group label{
			color: #f2f2f2;
			font-weight: 700;
		}
		.form-control:focus{
			border: 2px solid #dc9b48;
		}
		.form-group textarea{
			resize: none;
		}

		#form-container{
			background-color: #19191978;
		    padding: 25px;
		    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
			border-radius: 5px;
		}

		#youtube-iframe{
			width: 500px;
			height: 450px;
			box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
			border-radius: 5px;
		}

/*end of contact page*/


/*gallery*/
			#jumbo-gallery{
				height: 50vh;
				/*background-color: #333;*/
				background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0,0,0,0) 100%),url(./../images/wallhaven-d5qkmm.png);
				background-attachment: fixed;
				background-size: cover;
				background-position: center;
				border-radius: 0;
				padding-top: 10%; 

			}

			.gallery-wrap{
				height: 60%;
				background-image:  radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0,0,0,0) 100%),url(./../images/gallery/g-bg.png);
				background-size: cover;
				background-attachment: fixed;
				background-position: center;
				border-radius: 0;
				padding: 3% 6%; 
			}

			.flex-column { 
			       max-width : 600px;
			}

			#gallery-container img {
				box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
				border-radius: 5px;
			      margin: 5px;
			      filter: gray; /* IE5+ */
			      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
			      -webkit-transition: all .8s ease-in-out; 
			}

			 #gallery-container img:hover{
			 	    filter: none;
			     	 -webkit-filter: grayscale(0);
			     	 -webkit-transform: scale(1.01);
			     	 border: 3px solid #dc9b48;
			 }

/*end gallery*/

/*Character*/
		#jumbo-character{
			height: 50vh;
			/*background-color: #333;*/
			background-image:  radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, rgba(0,0,0,0) 100%),url(./../images/gallery/g14.jpg);
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			border-radius: 0;
			padding-top: 10%; 

		}


		.character-wrap{
			height: 60%;
			background-image:  radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0,0,0,0) 100%),url(./../images/gallery/g-bg.png);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			border-radius: 0;
			padding-top: 2%; 
		}

		#character-container .char-avatar{
			box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			max-height: 80px;
			max-width:  80px;
			margin: 5px 5px;
			filter: gray; /* IE5+ */
		    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
		    -webkit-transition: all .8s ease-in-out; 
		}
		#character-container .char-avatar:hover, #character-container .char-avatar:active{
		 	    filter: none;
		     	 -webkit-filter: grayscale(0);
		     	 -webkit-transform: scale(1.01);
		     	 border: 3px solid #dc9b48;
		}

		.bg-card{
			background-color: #19191978;
		    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			padding: 25px;
		}
		.bg-card h5{
			font-weight: 700;
			color: #ffffff;
		}

		.bg-card p{
			font-weight: 400;
			color: #ffffff;
		}

		.img-border{
			border: 5px solid #dc9b48;
		}

		.text-decor{
		    text-decoration-line: underline;
    		text-decoration-color: rgb(230, 142, 85);
		}
		.bg-card small.text-dark {
    	color: #ffffff!important;
}

/*end Character*/

/*carousel for testing*/
	#carousel-home{
		height: 50vh;
	}
	#carousel-home img{
		height: 30%;
	}

	#landing-about{
		color:#f2f2f2;
		font-size: 2em;
		padding-top: 20%;
	}
	.about-tags{
		font-weight: 300;

	}
	#mission{
		background-color: #141414;
		color: #f2f2f2;
		height: 100%;
	}
	#vision{
		background-color: #f2f2f2;
		color: #141414;
		height: 100%;
	}
/*end carousel for testing*/

/*end of css*/

/*media query*/

/*mobile styles*/
@media only screen and (max-width: 400px){

	.jumbotron h1{
	font-size: 3em;
	margin-top: 10%;
	}

	#land-con h1{
	font-size: 3em;

	}
	#land-con{
		margin-top: 70%;
	}

	/*home-page*/
	#about-con{
	height: 50%;
	padding-bottom: 5%;
	}

	#about-con p{
	font-size: 14px;
	}

	#img-about{
		max-width: 80%;
	}

	#footer-section {
    height: 30%;
	}

	#footer-section img {
    max-height: 40px;
    margin: 0 auto;
	}
	#copyright p{
		font-size: 9px;
	}

	#footer-logo {
    max-height: 50px!important;
	}

	#footer-section img {
    max-height: 25px;
	}

	/*end of home-page*/

	/*about page*/
	#jumbo-about{
	height: 60%;
	}

	.about-wrap{
		height: 70%;
		padding-bottom: 5%; 
	}
	.about-wrap p{
		font-size: 9px;

	}
	.about-wrap h5{
		font-size: 12px;
	}
	/*end of about page*/

	/*gallery*/
	#jumbo-gallery .lead{
    font-size: 1rem!important;
	}
	/*end gallery*/

	/*contact-page*/
	#jumbo-contact{
	height: 50%;
	
	}
	
	.contact-wrap{
	height: 60%;
	}

	.form {
    max-width: 300px;
    margin: 0 auto;
	}

	#youtube-iframe{
	width: 250px;
	height: 200px;
	}

	/*end of contact-page*/

	/*character*/
	#jumbo-character{
		height: 50%
	}


	/*end of character*/
}
/*end of mobile screen*/

/*table screen*/
@media only screen and (min-device-width : 401px) and (max-device-width : 960px) {
	.jumbotron h1{
	font-size: 5em;
	margin-top: 10%;
	}

	#land-con h1{
	font-size: 6em;
	line-height: 0.6;
	}

	#land-con{
		margin-top: 40%;
	}

	/*home-page*/
	#about-con{
	height: 50%;
	padding-bottom: 5%;
	}

	#about-con p{
	font-size: 14px;
	}

	#img-about{
		max-width: 80%;
	}

	#footer-section {
    height: 30%;
	}

	#footer-section img {
    max-height: 40px;
    margin: 0 auto;
	}

	#copyright p{
		font-size: 12px;
	}
	/*end of home-page*/

	/*contact-page*/
	#jumbo-contact{
	height: 50%;
	
	}
	.contact-wrap{
	height: 60%;
	}

	/*end of contact-page*/

		/*character*/
	#jumbo-character{
		height: 50%
	}
	/*end of character*/
}
/*end o table screen*/

/*desktop screen larger screen*/
@media only screen and (min-width: 961px){

				/*start landing page*/
	/*navbar*/
				.bg-nav-color{
					background-color: #ffffff;
					box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
				}

				#navbar-menu a{
					font-size: 25px;
					color: #191919;


				}
				#navbar-menu a:hover{
				    font-weight: bold;
				    border-bottom: 5px solid  #F15F23;
				}
				#navbar-menu .active{
				    font-weight: bold;
				    border-bottom: 5px solid #F15F23;
				}

				#logo{
					height: 40px;
				}
	/*End navbar*/

	/*jumbotron landing page*/
				.jumbotron hr{
					background-color: #f2f2f2;
				}

				#jumbo-land{
					height: 100%;
				    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%),url(./../images/shoyo.png);
					background-attachment: fixed;
					background-size: cover;
					background-position: center;
					border-radius: 0;
					padding-top: 10%;
					padding-bottom: 5%; 
				}

				.jumbotron p{
					font-weight: 400;
   					 font-size: 22px;
   					 color: #f15f23;
   					 text-shadow: 0px 2px 3px #000;
				}

				.jumbotron h1{
					color: #f2f2f2;
					text-align: center;
					font-family: 'Ravi Prakash', cursive;
					font-size: 5em;
					letter-spacing: 2px;
					line-height: 1.6;
					text-shadow: 0 4px 6px #000;
				}

				#land-con{
					margin-top: 5%;

				}
				#land-con h1{
					text-align: left;
					font-family: 'Ravi Prakash', cursive;
					font-size: 10em;
					letter-spacing: 2px;
					line-height: 0.6;
					text-shadow: 0 4px 6px #000;
				}

				.color-h1{
					font-family: 'Ravi Prakash', cursive;
					color: #F15F23;

				}

				.btn a{
					text-decoration: none;
					color: #F15F23;
					font-weight: 300;


				}

				.btn-bg-color{
					border: 2px solid #F15F23;
					color: #F15F23;
					box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
				/*	background: linear-gradient(13deg, rgba(254,164,124,1) 37%, rgba(246,0,0,1) 100%)!important;*/
					border-radius: 5px;

				}

				.btn-bg-color:hover{
					border: none;
					color: #191919;
					/*box-shadow: 2px 2px 10px 4px  rgba(0, 0, 0, 0.7);*/
					background-color: #F15F23;
				}
	/*end jumbotron landing page*/

	/*home-page-about section*/
				#about-con{
					height: 70%;
					background-color:  #f1f1f1;
					background-size: cover;
					background-attachment: fixed;
					background-position: center;
					border-radius: 0;
					padding-top: 5%; 
					padding-bottom: 5%;
					color: #333;


				}
				#about-con h2{
					font-weight: 700;
					text-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

				}

				#about-con hr{
					background-color: #f2f2f2;
				}

				#about-con p{
					letter-spacing: 2px;
					font-size: 18px;
					font-weight: 400;
					padding-right: 10px;
					padding-left: 10px;
				}

				#img-about{
					max-width: 500px;
					box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    				border-radius: 2px;
				}
	/* end of home-page-about section*/

/*home-page-gallery section*/
				#gallery-con{
					height: 80%;
					background-image:url(./../images/gallery/g-bg.png);
					background-size: cover;
					background-attachment: fixed;
					background-position: center;
					border-radius: 0;
					padding-top: 5%;
					padding-bottom: 5%; 

				}

				#gallery-con .flex-column { 
				       max-width : 500px;
				   }

				#gallery-con h2{
						color: #191919;
						font-weight: 700;
					}
				#gallery-con hr{
					background-color: #ffffff;
				}

				 #gallery-con img {
				 				box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
				               margin: 10px 1px; 
				    }
				#gallery-con img:hover{
				    	filter: none;
				      border: 3px solid #dc9b48;
				    }     
			/*end of gallery*/


			/*footer*/
				#footer-section{
					height: 25%;
					background-color: #191919;
					background-size: cover;
					background-position: center;
					border-radius: 0;
					padding-top: 2%; 
					color: #f2f2f2;
				}

				#footer-logo {
				    max-height: 100px!important;
				}

				#footer-section img{
					max-height: 40px;
					margin: 2px 5px; 
				}
				/*end of footer*/

/*end of landing page*/



/*start of about page*/
	#jumbo-about{
		height: 60%;
		background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%), url(./../images/wallhaven-lq88vr.jpg);
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		border-radius: 0;
		padding-top: 10%; 
	}

	.about-wrap{
		height: 70%;
		/*background-color: #333;*/
		background-image: radial-gradient(circle, rgba(2,0,36,0.3) 0%, rgba(0,0,0,0) 100%),url(./../images/bg.png);
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		border-radius: 0;
		padding-top: 5%;
		padding-bottom: 5%; 
	}
	.about-wrap h1{
		  text-shadow: 0 4px 6px #000;
	}
	.about-wrap p{
		color: #f2f2f2;
		line-height: 1.6;
		letter-spacing: 2px;
		font-weight: 400px;
	}
	.about-wrap h5{
		color: #f2f2f2;
		letter-spacing: 2px;
		font-weight: 700;

	}

	.about-wrap hr{
		background-color: #f2f2f2;
	}

	#about-container{
			background-color: #19191978;
		    padding: 25px;
		    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
			border-radius: 5px;
	}
/*end of about page*/

/*start of contact page*/
		#jumbo-contact{
			height: 50%;
			background-image: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%), url(./../images/gallery/g2.png);
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			border-radius: 0;
			padding-top: 10%; 
			padding-bottom: 5%;
		}

		.contact-wrap{
			height: 60%;
			/*background-color: #333;*/
			background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0,0,0,0) 100%),url(./../images/bg.png);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			border-radius: 0;
			padding-top: 2%;
			padding-bottom: 5%; 
		}
		.contact-wrap p{
			color: #f2f2f2;
			line-height: 1.6;
			letter-spacing: 2px;
			font-weight: 400;
		}
		.contact-wrap h5{
			color: #f2f2f2;
			letter-spacing: 2px;
			font-weight: 700;
		}

		.contact-wrap hr{
			background-color: #f2f2f2;
		}
		.form-group label{
			color: #f2f2f2;
			font-weight: 700;
		}
		.form-control:focus{
			border: 2px solid #dc9b48;
		}
		.form-group textarea{
			resize: none;
		}

		#form-container{
			background-color: #19191978;
		    padding: 25px;
		    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
			border-radius: 5px;
		}

		#youtube-iframe{
			width: 500px;
			height: 450px;
			box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
			border-radius: 5px;
		}

/*end of contact page*/


/*gallery*/
			#jumbo-gallery{
				height: 50%;
				/*background-color: #333;*/
				background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0,0,0,0) 100%),url(./../images/wallhaven-d5qkmm.png);
				background-attachment: fixed;
				background-size: cover;
				background-position: center;
				border-radius: 0;
				padding-top: 10%; 
				padding-bottom: 5%;

			}

			.gallery-wrap{
				height: 60%;
				background-image:  radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0,0,0,0) 100%),url(./../images/gallery/g-bg.png);
				background-size: cover;
				background-attachment: fixed;
				background-position: center;
				border-radius: 0;
				padding: 3% 6%; 
			}

			.flex-column { 
			       max-width : 600px;
			}

			#gallery-container img {
				box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
				border-radius: 5px;
			      margin: 5px;
			      filter: gray; /* IE5+ */
			      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
			      -webkit-transition: all .8s ease-in-out; 
			}

			 #gallery-container img:hover{
			 	    filter: none;
			     	 -webkit-filter: grayscale(0);
			     	 -webkit-transform: scale(1.01);
			     	 border: 3px solid #dc9b48;
			 }

/*end gallery*/

/*Character*/
		#jumbo-character{
			height: 50%;
			/*background-color: #333;*/
			background-image:  radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, rgba(0,0,0,0) 100%),url(./../images/gallery/g14.jpg);
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			border-radius: 0;
			padding-top: 10%; 

		}


		.character-wrap{
			height: 60%;
			background-image:  radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0,0,0,0) 100%),url(./../images/gallery/g-bg.png);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			border-radius: 0;
			padding-top: 2%; 
			padding-bottom: 5%;
		}

		#character-container .char-avatar{
			box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			max-height: 80px;
			max-width:  80px;
			margin: 5px 5px;
			filter: gray; /* IE5+ */
		    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
		    -webkit-transition: all .8s ease-in-out; 
		}
		#character-container .char-avatar:hover, #character-container .char-avatar:active{
		 	    filter: none;
		     	 -webkit-filter: grayscale(0);
		     	 -webkit-transform: scale(1.01);
		     	 border: 3px solid #dc9b48;
		}

		.bg-card{
			background-color: #19191978;
		    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			padding: 25px;
		}
		.bg-card h5{
			font-weight: 700;
			color: #ffffff;
		}

		.bg-card p{
			font-weight: 400;
			color: #ffffff;
		}

		.img-border{
			border: 5px solid #dc9b48;
		}

		.text-decor{
		    text-decoration-line: underline;
    		text-decoration-color: rgb(230, 142, 85);
		}
		.bg-card small.text-dark {
    	color: #ffffff!important;
}

/*end Character*/

/*carousel for testing*/
	#carousel-home{
		height: 50%;
	}
	#carousel-home img{
		height: 30%;
	}

	#landing-about{
		color:#f2f2f2;
		font-size: 2em;
		padding-top: 20%;
	}
	.about-tags{
		font-weight: 300;

	}
	#mission{
		background-color: #141414;
		color: #f2f2f2;
		height: 100%;
	}
	#vision{
		background-color: #f2f2f2;
		color: #141414;
		height: 100%;
	}
/*end carousel for testing*/

}
/*end of desktop screen or larger screen